<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dealer_BengkelSempurna.Properties.Settings.DealerBengkelSempurnaConnectionString"
            connectionString="Data Source=LAPTOP-INB51L5O\MSSQLSERVER01;Initial Catalog=DealerBengkelSempurna;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>